body{
margin: 0;
padding: 0;

font-family: Arial, Helvetica, sans-serif;
font-style: oblique;
}

.wrapper{
 background-color: #313131;
 width: 30vh;
 height: 40vh;
margin-left: 75vh;
margin-top: 30vh;
border-radius: 14px;
display: flex;   

}

.Registerbutton button{
margin-top: 30vh;  
margin-left: -18.3vh;
border-radius: 7px;
height: 3.2vh;
width: 12vh;
background-color: #B0B0B0;
color: rgb(0, 0, 0);
font-weight: 700;
border-style: none;
}

.Registerbutton button:hover{
    background-color: #606060;
}


.Login-OR p{
    margin-top: 1vh;
    margin-left: 13.5vh;
    font-size: 1.15vh;
    color: white;
    font-weight: 600;
}

.Loginbutton button{
    border-radius: 7px;
height: 3.2vh;
width: 12vh;
background-color: #B0B0B0;
border-style: none;
font-weight: 700;
margin-left: 8.6vh;
margin-top: 2vh;
}

.Loginbutton button:hover{
    background-color: #606060;
}

.remember-forgot{
    margin-top: 1vh;
    margin-left: 3vh;
    color: white;
    font-size: 1vh;
}

.username-box input{
   margin-left: 5vh;
    align-items: center;
    margin-top: -1vh;
    height: 3vh;
    width: 22.7vh;
    border-radius: 5px;
    margin-left: 3.3vh;
    border-style: none;
}

.username-box p{
    color: white;
    font-size: 1.2vh;
    margin-left: 3.4vh;
    margin-top: 5vh;
    
}


.password-box input{
    align-items: center;
    margin-left: 3.3vh;
    border-radius: 5px;
    height: 3vh;
    width: 22.7vh;
    margin-top: -1vh;
    border-style: none;
}

.password-box p{
    font-size: 1.2vh;
    color: white;
    margin-top: 2vh;
    margin-left: 3.4vh;  
}





